# syntax:
#   [plugin_name]
#   setting_name = value
#
# Lines beginning with # are comments.
#
# Comments cannot be started later in the line
# (you may not do "setting = value #comment").
#
# Boolean settings must be true or false (exactly).


# core _must_ be here for the bot to work

[core]


# If these are omitted, defaults provide:
# Terminus-Bot!Terminus@* http://terminus-bot.net

nick        = Terminus-Bot
user        = Terminus
realname    = http://terminus-bot.net/


# command prefix

prefix      = ;


# channels in which we should never speak
# format: server:#foo server:#bar server2:#baz

silent      = 


# Separate with spaces. Syntax is:
#   name:hostname:port:password

servers      = sinsira:irc.sinsira.net:6667

# Bind to this address when making connections.
#bind        = 


# seconds to wait before reconencting if connection closes
# unexpectedly

reconwait   = 15

# Delay between sending messages.
# This should always be > 0 to avoid being killed
# for flooding.
# REQUIRED

throttle    = 0.1


# Logging level. Must be one of:
# DEBUG, INFO, WARN, ERROR, FATAL
# default: INFO
loglevel    = INFO

# Max log file size before rotation.
# default: 1024000
logsize     = 1024000

# Number of log files to keep.
# default: 5
logcount    = 5


# scripts that won't be loaded on start
# separated with spaces
noload      = 


[ctcp]


# include all CTCP replies you want here

version     = Terminus-Bot v0.5-alpha
url         = http://terminus-bot.net/


[channels]

# Leave channels we join if the channels script isn't configured
# to include it.
# default: false

antiforce   = false


[urbandict]


# max definitions to include in reply
# default: 1

definitions = 1


[dictionary]

# max definitions to include in reply
# default: 1
max         = 1


[title]


# set to true to enable automatic title fetching
# default: false
#enabled     = true

# max number of URLs to match per message
# default: 3
#max         = 3


[google]

# user agent sent with queries
# see Google's API docs for recommendations

useragent   = sinsira.net

# limit the number of results shown for one query
# default: 3 (recommended)

resultlimit = 3


[pandora]

#botid       = 


[tell]

# max number of tells that can be pending for one nick
# default: 5
max        = 5


[oper]

# all oper config goes here, each network separately
# network = username:password
# network must exactly match the name specified in the


