
# syntax:
#
#   block_name = {
#     setting_name = value
#   }
#
# Lines beginning with # are comments.
#
# Comments cannot be started later in the line
# (you may not do "setting = value #comment").
#
# Boolean settings must be true or false (exactly).
#
# If a default is listed, that is the value that is used if the setting is not
# present (commented out or deleted).
#
# Leading and trailing spaces are removed from all lines.
#
# Do not wrap settings in quotation marks unless you want the quotation marks
# to be part of the value itself.
#
# All settings outside the core section are optional unless otherwise
# specified. Script authors are encouraged to make all config values have
# sane defaults so that nothing _really_ needs to be added here.


# Core bot configuration. If this section and the require settings inside aren't
# here, the bot may somehow erase your hard drive and kick your dog. Read and
# pay attention!
core = {

  # OPTIONAL, RECOMMENDED
  # The bot's IRC nick. If the nick is taken, the bot will attempt to use the
  # altnick setting below, and then try adding underscores at the end of the
  # nick.
  # default: Terminus-Bot
  nick = Terminus-Bot

  # OPTIONAL
  # The bot's user name (ident). This is what appears between the ! and @
  # (nick!user@host).
  # default: Terminus
  user = Terminus

  # OPTIONAL
  # The bot's "real name" or "gecos." This can be arbitrary text, and appears in
  # various places, such as WHOIS results.
  # default: http://terminus-bot.net/
  realname = http://terminus-bot.net/

  # OPTIONAL, RECOMMENDED
  # The bot's alternative IRC nick. This is used if the main nick (above) is taken
  # when the bot is connecting. If this one fails, underscores will be added. If
  # that somehow fails enough times to max out nick length, the bot will probably
  # hang right now.
  # default: TerminusBot
  altnick = TerminusBot

  # REQUIRED
  # When running commands in IRC channels, messages must begin with this prefix.
  # For example, if the prefix is ! then the PING command could be run with: !ping
  # This can be longer than one character.
  prefix = ;

  # OPTIONAL
  # Channels in which the bot should never speak. This is useful if you want the
  # bot to log chat for a channel but not actually contribute or do anything. Note
  # that it is possible to write scripts which ignore this setting!
  # format: server = #channel #channel2 #channel3
  #silent = {
  #  freenode = #botters
  #}

  # OPTIONAL
  # If your bot is running on a machine with multiple IP addresses, you should use
  # this setting to force the bot to bind to a certain connection. If you are
  # running the bot on a shell account or some other shared hosting platform, your
  # provider will likely *require* you set this value correctly. It may also be
  # used to take advantage of vanity host names, if you know how.
  #bind = 


  # OPTIONAL
  # The number of seconds to wait before attempting to reconnect to a server
  # after a connection is unexpectedly lost. This may need to be as long as
  # 60 or 120 seconds, as the bot may get stuck in an infinite reconnect loop
  # if the server is throttling it for reconnecting too fast.
  # default: 15
  reconwait = 15


  # OPTIONAL, RECOMMENDED
  # The number of seconds to wait between each outgoing message. This includes
  # all message types, not just messages to users. Unless the bot is opered and
  # is immune to flood protection, this should be something greater than zero!
  # In many cases, a value of 1 or 2 may be necessary. The default is very low
  # since smaller values will generally be better for a bot that feels responsive.
  # default: 0.25
  throttle = 0.25


  # OPTIONAL
  # The verbosity to use for logs. Unless you are a developer, INFO will probably
  # be sufficient for your needs. DEBUG is incredibly verbose.
  # Valid choices: DEBUG, INFO, WARN, ERROR, FATAL
  # default: INFO
  loglevel = INFO


  # OPTIONAL
  # Once a log reaches this size (in bytes) it will be rotated.
  # default: 1024000
  logsize = 1024000


  # OPTIONAL
  # Number of log files to keep.
  # default: 5
  logcount = 5


  # OPTIONAL
  # Scripts in this list will not be loaded during start, but can still be loaded
  # manually. Script names should be the same as the file name without an
  # extension.List one script per line.
  #
  # The defaults included here are developer modules (lograw).
  noload = {
    lograw
    eval
    raw
  }

}


# IRC connections.
servers = {

  # Here is where you add connections to IRC servers. Each connection gets its
  # own block. The name of the block is the name of the server. Inside the
  # blocks are the settings needed to connect. For example:
  #
  # freenode = {
  #   address = chat.us.freenode.net
  #   port = 6667
  # }
  #
  # Optional settings include:
  #   timeout         (number: seconds of inactivity before connection is
  #                    closed; 0 disables the timeout. Must be > 0.)
  #   password        (string)
  #   ssl             (boolean)
  #   sasl_username   (string)
  #   sasl_password   (string)
  #   sasl_mechanism  (string: auto, plain, or dh-blowfish)
  #   sasl_timeout    (number)
  #
  # Note: At the moment, only SASL PLAIN is supported.
  #       To use SASL, please ensure the caps module is loaded.
  #

}


# Bot modules
modules = {
  # List modules that should be loaded, one per line. Modules are loaded during
  # start-up and cannot be unloaded. For a list of available modules, look in
  # the modules directory.
  #
  # Some scripts depend on some modules being loaded. Some bot features, such
  # as SASL, may depend on modules as well.

  caps
  ignores

  http_client = {
    # REQUIRED
    # Maximum number of redirections to follow. This should be 10 or less. Setting
    # it too high may cause the bot to hang. It should probably be at least 3.
    redirects = 10
  }

  #buffer = {
  #  # REQUIRED
  #  # The number of message to keep in the buffer. A larger value here will
  #  # result in more memory usage, but will allow scripts which use this module
  #  # to make use of more data.
  #  max_size = 100
  #}
}


# Account level override.
admins = {

  # Here you can include account names and their authorization level, overriding
  # whatever level they have in the account database. This is useful for
  # creating administrative accounts by setting the level to 10.
  #
  # Warning: If you set an account to level 10 and that account doesn't exist,
  # anyone can register it and immediately have full access to the bot. This
  # can be very dangerous, since that grants access to the admin/eval command!
  #
  # Example:
  #
  #   Kabaka = 10

}


# Flag table configuration
flags = {

  # To prevent accidental deactivation of important scripts, you can
  # list scripts here that will never be deactivated by the flags script.
  #
  # Scripts should be listed one per line.
  #
  # The only script included by default is the channels script. Without that
  # script, the bot's behavior when joining or parting channels may be
  # unpredicable.
  # 
  # Default: channels
  privileged = {
    channels
  }

  # Default flag value. Must be a boolean.
  #
  # If this is set to false, no scripts will work in channels until they are
  # explicitly enabled through the flags management script. If is set to true,
  # all scripts will operate in all channels until explicitly disabled.
  #
  # When used in private, all scripts are always operational, regardless of this
  # setting for any flags.
  #
  # Default: true
  default = true

}


# CTCP reply script.
ctcp = {

  # Include all CTCP replies you want here. These are static strings.
  version = Terminus-Bot v0.5-alpha
  url = http://terminus-bot.net/

}


# Channel occupation management script.
channels = {

  # Leave channels we join if the channels script isn't configured to include it.
  # This is useful for dealing with undesired forcejoin/sajoin attempts. In most
  # cases, channels are parted immediately. If that isn't possible, we'll
  # periodically check for extra channels and try to part.
  # default: false
  antiforce = false

}


# Urban Dictionary (urbandictionary.com) look-up script.
urbandict = {

  # Max definitions to include when replying to a look-up request. Each reply is
  # sent in a separate message, so setting this any higher than 1 will make the
  # bot seem very spammy!
  # default: 1
  max = 1

}


# Dictionary (dictionary.com) look-up script.
dictionary = {

  # Max definitions to include when replying to a look-up request. Each reply is
  # sent in a separate message, so setting this any higher than 1 will make the
  # bot seem very spammy!
  # default: 1
  max = 1

  # REQUIRED
  # dictionary.com API key. Without this, the bot cannot perform any look-ups!
  # acquire at: http://developer.dictionary.com/
  #apikey = 

}


# Link title fetching script.
title = {

  # Maximum number of URLs to match per message. If a user posts a message with
  # many URLs, we will look up the titles for this many of them (from the first
  # one found to the last) and post the titles, each in a separate message.
  # default: 3
  max = 3

  # Maximum number of redirections to follow. This should be 10 or less. Setting
  # it too high may cause the bot to hang. It should probably be at least 3.
  # default: 10
  #redirects = 10

}


# Google search script.
google = {

  # REQUIRED
  # User agent to send with API requests. See Google's API docs for information
  # on why this should be set.
  #useragent =

  # Max results to include when replying to a search request. Each reply is
  # sent in a separate message, so setting this any higher than 1 will make the
  # bot seem very spammy!
  # default: 1
  resultlimit = 1

}


# Pandora (pandorabots.com) chatterbot interaction script.
pandora = {

  # REQUIRED
  # The botid value to use when communicating with pandorabots.com. This is like
  # an API key. For information on how to find this, please see the documentation
  # on pandorabots.com. Yes, a pandorabots.com account and bot is required!
  #botid =

}

# Tell (mail/memo) script.
tell = {

  # The maximum number of tells that can be left for a nick. This should probably
  # be less than 5. Every tell is posted in a separate message, so letting users
  # leave too many messages could result in a channel flood when tells are sent!
  # default: 3
  max = 3

}


# Role-play battle assistance script.
battle = {

  # Starting player health.
  # default: 100
  #start_health = 100


  # The minimum damage an account can cause, if it hits.
  # default: 5
  #min_dmg = 5


  # The maximum damage an account can cause, if it hits.
  # default: 25
  #max_dmg = 25

  # The chance (out of 100) that an attack will miss.
  # default: 10
  #miss = 10
  
  # The chance damage will be absorbed and will heal the target.
  # default: 5
  #absorb = 5

}


# RSS/ATOM feed reader script.
rss = {

  # Interval (in seconds) to check for new feed items. This is approximate, since
  # checks are triggered by server pings.
  # default: 1800
  #interval = 1800

  # Maximum number of feed items to show when new items are found. If more than
  # this many items are new, the older items will not be shown. Each item is
  # posted in its own message, so setting this very high could cause the bot to be
  # spammy.
  # default: 3
  #max = 3

}


# Regular Expression script.
regex = {
  
  # The number of message to keep in the buffer. A larger value here will of
  # course mean more memory usage, but it also means regular expression searches
  # (g/foo/) and replacements (s/foo/bar) will work for older messages.
  #
  # If the search function is not important to you, a very small value (10 or
  # 20) is probably fine.
  #
  # default: 100
  #buffer = 100

}


# Last.fm script.
lastfm = {
  
  # REQUIRED
  # lastfm.com API key. Without this, the bot cannot perform any look-ups!
  # acquire at: http://www.last.fm/api
  #apikey = 

}


# Script to play IdleRPG
idlerpg = {

  # IdleRPG configuration is per-network.
  #
  # In order for the bot to play IdleRPG, it must have:
  #  - channel: the channel in which the game is played
  #  - nick: the nick of the IdleRPG bot
  #  - login_command: the message to send the IdleRPG bot to log in
  #
  # You may also include xml_url, the URL to use to get XML-formatted
  # information about users playing IdleRPG. This only works for jotun's IRPG
  # bot's PHP XML generator. You can include just the xml_url setting if you
  # don't want the bot to play but you want it to be able to retrieve player
  # information.
  #
  # Example: 
  #
  # ponychat = {
  #   channel = #idlerpg
  #   nick = IdleRPG
  #   login_command = LOGIN Terminus-Bot foobar
  #   xml_url = http://ponychat.net/idle-rpg/xml.php?player=
  # }
  #

}
